* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, sans-serif;
}

body {
    background: #f4f4f4;
    color: #333;
}

/* HERO */
.hero {
    background: linear-gradient(to right, #000, #333);
    color: #fff;
    padding: 90px 20px;
    text-align: center;
}

.hero h1 {
    font-size: 44px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
    opacity: 0.9;
}
.hero a{
  display: inline-block;
  margin: 10px;
  padding: 8px 16px;
  color: #50abe7;
  text-decoration: none;
  
  border: 2px solid #edeef3;
  border-radius: 4px;
  transition: all 0.3s ease;
}
a:hover{
  background-color: #89cf17;
  color: #4a90e2;
}
/* ABOUT SECTION */
.about {
    padding: 60px 20px;
}

.container {
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
}

/* CARD */
.card {
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-6px);
}

.card h2 {
    margin-bottom: 15px;
    color: #83c41c;
}

.card p {
    font-size: 15px;
    line-height: 1.7;
}

.card ul {
    margin-top: 10px;
    padding-left: 20px;
}

.card ul li {
    margin-bottom: 8px;
}

/* HIGHLIGHT */
.highlight {
    border-left: 6px solid #000;
}

/* FOOTER */
footer {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
